.navbar {
    background: $dark-gray;
    background: linear-gradient(180deg, $dark-gray, rgba($dark-gray, 0.6) 70%, transparent);
    width: 100%;
    height: $navbar-height;
    position: fixed;
    top: 0;

    .nav-list {
        list-style: none;

        li {
            display: inline;
        }

        a {
            display: inline;
            text-decoration: none;
            color: $lighter;
            font-style: 14px;
            padding-left: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
