body {
    margin: 0;
}

.float-right { float: right; }
.float-left  { float: left;  }

.text-left   { text-align: left;   }
.text-right  { text-align: right;  }
.text-center { text-align: center; }

.clearfix { clear: both; }
